<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Livefyre/Exceptions/</directory>
                <directory suffix=".php">./src/Livefyre/Dto/</directory>
                <directory suffix=".php">./src/Livefyre/Model/</directory>
                <file>./src/Livefyre/Utils/IDNA.php</file>
                <file>./src/Livefyre/Utils/JWT.php</file>
                <file>./src/Livefyre/Utils/BasicEnum.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>